.checkout_product{
display: flex;
margin-top: 1em;
margin-left: 1em;

}

.checkout_product_info{
padding-left: 20px ;

}

.checkout_product_image{
    object-fit:contain;
    width:180px;
    height:180px;
}

.checkout_product_title{
    font-size: 17px;
    font-weight: 800;

}


.checkout_product_price{

}


.checkout_product_rating{
display:flex;
}

.checkout_product_info > button{
    background-color: rgba(250, 182, 54, 0.68);
    border:1px solid;
    border-color:#a88734 #9c7e31 #846a29;
    margin-top:10px;
    color:#111;
}