.checkout_product{
display: flex;
margin-top: 1em;
margin-left: 1em;
/* background: rgb(236, 236, 231); */
background-color:rgb(228, 229, 240);
padding: 0.8em;
/* border-radius: ; */
}

.checkout_product_info{
padding-left: 20px ;

}

.checkout_product_image{
    object-fit:contain;
    width:180px;
    height:180px;
    background-color:rgb(228, 229, 240);
}

.checkout_product_title{
    font-size: 17px;
    font-weight: 800;

}




.checkout_product_rating{
display:flex;
}

.checkout_product_info > button{
    background-color: rgba(250, 182, 54, 0.68);
    border:1px solid;
    border-color:#a88734;
    margin-top:10px;
    color:#111;
}